{block content}
<div class="left">
<a n:href="Kucharka:objednavka ">Zobrazenie objednávok</a>
<a n:href="Kucharka:deleteeditdefault">Mazanie a Editovanie Objednávok</a>






<a n:href="Kucharka:suroviny">Zobrazenie surovín</a>
<a n:href="Kucharka:surovinyadd">Doplnenenie surovín do skladu</a>
</div>
<hr>
<div class="center">
<h1>Rozhranie pre kucharky</h1>
</div>



{/block}