<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="robots" content="{$robots}" n:ifset="$robots">

        <title>Diétni kuchyň</title>

        <link rel="stylesheet" href="{$basePath}/css/screenmartin.css">
        <link rel="shortcut icon" href="{$basePath}/favicon.ico">
        {block head}{/block}
</head>

<body>
<div id="header">
        <div id="header-inner">
                

                <div class="user" n:if="$user->isLoggedIn()">
                        <span class="icon user">{$user->getIdentity()->name}</span> |
                        <a n:href="User:password">Změna hesla</a> |
                        <a n:href="signOut!">Odhlásit se</a>
                </div>
        </div>
</div>

<div id="container">
        

        <div id="content">
                <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

                {include #content}
        </div>

       
</div>

        {block scripts}
        <script src="{$basePath}/js/jquery.js"></script>
        <script src="{$basePath}/js/netteForms.js"></script>
        <script src="{$basePath}/js/main.js"></script>
        {/block}
</body>
</html>