<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="robots" content="{$robots}" n:ifset="$robots">

        <title>{block title|stripTags|strip}Úkolníček{/block}</title>

        <link rel="stylesheet" href="{$basePath}/css/screen.css" type="text/css">
        <link rel="shortcut icon" href="{$basePath}/favicon.ico">
        {block head}{/block}
</head>

<body>
<div id="header">
    <div id="header-inner">
	{if $user->isLoggedIn()}
        <div class="title"><a n:href="Homepage:">Úkolníček</a></div>

        
        <div class="user">
            <span class="icon user">{$user->getIdentity()->name}</span> |
            <a n:href="User:password">Změna hesla</a> |
            <a n:href="signOut!">Odhlásit se</a>
        </div>
        {/if}
    </div>
</div>

<div id="container">
        <div id="sidebar">
		{if $user->isLoggedIn()}
                <h2><a n:href="Homepage:">Přehled</a></h2>

                <div class="task-lists">
                        <h2>Seznamy</h2>
                        <ul>
                               
                        </ul>
                </div>
				{/if}
        </div>

        <div id="content">
                <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

                {include #content}
        </div>

        <div id="footer">
               
        </div>
</div>

        {block scripts}
        <script src="{$basePath}/js/jquery.js"></script>
        <script src="{$basePath}/js/netteForms.js"></script>
        <script src="{$basePath}/js/main.js"></script>
        {/block}
</body>
</html>